body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #fff;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color:#fff;
}

h3 {
  color:#fff;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}

input[type="text"] {
  flex: 1 1 200px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  background-color: #1ff5e37a;
  color:#646363;
}

button {
  background-color: #f51fc0d3;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover{
  background-color: #fa5ad2d3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.1);
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

#color{
  border-radius: 4px;
  background-color: #1ff5e37a;
  color:#646363;
}

.color-verde {
  background-color: #05a012;
}

.color-rojo {
  background-color: #fa2d2d;
}

.color-morado {
  background-color: #b454f5;
}

.oculto {
  display: none;
}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;
    align-items: stretch;
  }

  .input-group > * {
    width: 100%;
    font-size: 1em;
  }

  button {
    padding: 10px;
    font-size: 1em;
  }
}
