body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%,
 rgba(252, 176, 69, 1) 100%);
  color: #fff;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color:#fff;
}

h3 {
  color:#fff;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}

input[type="text"] {
  flex: 1 1 200px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  background-color: #fff;
  color:#646363;
}

button {
  background-color: #f5e01fd3;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover{
  background-color: #fae84ad3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.1);
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.lista{
  border-radius: 4px;
}

#color{
  border-radius: 8px;
  background-color: #fff;
  color:#646363;
}

.color-verde {
  background-color: #0514a0;
}

.color-rojo {
  background-color: #fa2d2d;
}

.color-morado {
  background-color: #6e03fa;
}

.oculto {
  display: none;
}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;
    gap: 8px;
  }

  .input-group > input[type="text"] {
    width: 100% !important;
    font-size: 0.8em;
    padding: 6px 10px;
    height: 36px;
    box-sizing: border-box;
    flex: none !important; /* Esto evita que crezca */
  }

  .input-group > select,
  .input-group > button {
    width: 100%;
    font-size: 0.9em;
    padding: 6px 8px;
    height: 36px;
    box-sizing: border-box;
  }
  button{
    font-size: 0.6em;
    padding: 6px 8px;
  }
}





